.container {
    font-family: "Arial";
    display: flex;
  }
  
  .tabs {
    flex-shrink: 0;
    flex-grow: 0;
    width: 10rem;
    padding: 2rem;
    background: #F4F4F6;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  
  .content {
    flex-grow: 1;
    padding: 0 0 0 1rem;
  }
  
  .tab-button {
    padding: 1rem 2rem;
    margin: 0.25rem 0;
    background: #979EBF;
    color: #fff;
    border: 1px solid #424A6B;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    display: flex;
  
    &.active {
      background: #1B1E2C;
    }
  }
  
  .issues {
    background: #E3FCEF;
    min-height: 100%;
    padding: 2rem;
  }
  
  .projects {
    background: #E1F0FE;
    min-height: 100%;
    padding: 2rem;
  }
  
  .reports {
    background: rgba(salmon, 0.1);
    min-height: 100%;
    padding: 2rem;
  }
  