.container {
  width: 840px;
  margin: 0 auto;
}

header {
  display: grid;
  background: #ccc;
  grid-template-columns: repeat(7, 1fr);

  div {
    height: 30px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: end;
  }
}

section {
  width: 100%;
  height: 480px;
  overflow-y: auto;

  .content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    div.date-cell {
      height: 80px;

      
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;

      &:nth-child(7n) {
        border-right: 1px solid #000;

      }
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  div.date-cell {
    height: 80px;

    
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;

    &:nth-child(7n) {
      border-right: 1px solid #000;

    }
  }
}
